sadedegel/dataset/raw/*.txt filter=lfs diff=lfs merge=lfs -text
sadedegel/dataset/sents/*.json filter=lfs diff=lfs merge=lfs -text
sadedegel/dataset/annotated/*.json filter=lfs diff=lfs merge=lfs -text
sadedegel/prebuilt/model/*.joblib filter=lfs diff=lfs merge=lfs -text
sadedegel/bblock/data/bert/vocabulary.hdf5 filter=lfs diff=lfs merge=lfs -text
sadedegel/bblock/data/icu/vocabulary.hdf5 filter=lfs diff=lfs merge=lfs -text
sadedegel/bblock/data/simple/vocabulary.hdf5 filter=lfs diff=lfs merge=lfs -text
sadedegel/ml/model/*.onnx filter=lfs diff=lfs merge=lfs -text
