---
---

@font-face {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/barlow-condensed-v4-latin-ext_latin-300.eot");
    src: local("Barlow Condensed Light"), local("BarlowCondensed-Light"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-300.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-300.woff2")
            format("woff2"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-300.woff")
            format("woff"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-300.ttf")
            format("truetype"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-300.svg#BarlowCondensed")
            format("svg");
}
@font-face {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/barlow-condensed-v4-latin-ext_latin-500.eot");
    src: local("Barlow Condensed Medium"), local("BarlowCondensed-Medium"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-500.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-500.woff2")
            format("woff2"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-500.woff")
            format("woff"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-500.ttf")
            format("truetype"),
        url("../fonts/barlow-condensed-v4-latin-ext_latin-500.svg#BarlowCondensed")
            format("svg");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/poppins-v9-latin-ext_latin-100.eot");
    src: local("Poppins Thin"), local("Poppins-Thin"),
        url("../fonts/poppins-v9-latin-ext_latin-100.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/poppins-v9-latin-ext_latin-100.woff2") format("woff2"),
        url("../fonts/poppins-v9-latin-ext_latin-100.woff") format("woff"),
        url("../fonts/poppins-v9-latin-ext_latin-100.ttf") format("truetype"),
        url("../fonts/poppins-v9-latin-ext_latin-100.svg#Poppins") format("svg");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/poppins-v9-latin-ext_latin-regular.eot");
    src: local("Poppins Regular"), local("Poppins-Regular"),
        url("../fonts/poppins-v9-latin-ext_latin-regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/poppins-v9-latin-ext_latin-regular.woff2") format("woff2"),
        url("../fonts/poppins-v9-latin-ext_latin-regular.woff") format("woff"),
        url("../fonts/poppins-v9-latin-ext_latin-regular.ttf")
            format("truetype"),
        url("../fonts/poppins-v9-latin-ext_latin-regular.svg#Poppins")
            format("svg");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/poppins-v9-latin-ext_latin-300.eot");
    src: local("Poppins Light"), local("Poppins-Light"),
        url("../fonts/poppins-v9-latin-ext_latin-300.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/poppins-v9-latin-ext_latin-300.woff2") format("woff2"),
        url("../fonts/poppins-v9-latin-ext_latin-300.woff") format("woff"),
        url("../fonts/poppins-v9-latin-ext_latin-300.ttf") format("truetype"),
        url("../fonts/poppins-v9-latin-ext_latin-300.svg#Poppins") format("svg");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/poppins-v9-latin-ext_latin-500.eot");
    src: local("Poppins Medium"), local("Poppins-Medium"),
        url("../fonts/poppins-v9-latin-ext_latin-500.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/poppins-v9-latin-ext_latin-500.woff2") format("woff2"),
        url("../fonts/poppins-v9-latin-ext_latin-500.woff") format("woff"),
        url("../fonts/poppins-v9-latin-ext_latin-500.ttf") format("truetype"),
        url("../fonts/poppins-v9-latin-ext_latin-500.svg#Poppins") format("svg");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/poppins-v9-latin-ext_latin-600.eot");
    src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
        url("../fonts/poppins-v9-latin-ext_latin-600.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/poppins-v9-latin-ext_latin-600.woff2") format("woff2"),
        url("../fonts/poppins-v9-latin-ext_latin-600.woff") format("woff"),
        url("../fonts/poppins-v9-latin-ext_latin-600.ttf") format("truetype"),
        url("../fonts/poppins-v9-latin-ext_latin-600.svg#Poppins") format("svg");
}
*::-moz-selection {
    color: #fff;
    background: #e4209c;
}
*::selection {
    color: #fff;
    background: #e4209c;
}
html,
body {
    display: block;
    height: 100%;
    font-size: 12px;
    line-height: 1.4;
}
@media (min-width: 1024px) {
    html,
    body {
        font-size: 16px;
        line-height: 1.6;
    }
}
body {
    font-family: "Poppins", sans-serif;
    background: url("/assets/img/bg-2.jpg") #562f8a no-repeat top
        left/100% auto;
}
.text-purple {
    color: #e4209c;
}
.text-yellow {
    color: #ffc107;
}
.text-green {
    color: #28a745;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-display: block;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    text-shadow: #aaa 0px 1px 1px;
}
@-moz-document url-prefix() {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        text-shadow: none !important;
    }
}
h1 {
    font-size: 1.7142857143rem;
}
h2 {
    font-size: 1.4285714286rem;
}
h3 {
    font-size: 1.2857142857rem;
}
h4,
h5,
h6 {
    font-size: 1.1428571429rem;
}
a.big-dot {
    padding: 10px 15px;
    overflow: hidden;
    text-align: center;
    position: relative;
}
a.big-dot span {
    position: relative;
    z-index: 50;
}
a.big-dot:before {
    display: block;
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 38px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: #e4209c;
    background: -moz-linear-gradient(left, #e4209c 0%, #6622a2 100%);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, #e4209c),
        color-stop(100%, #6622a2)
    );
    background: -webkit-linear-gradient(left, #e4209c 0%, #6622a2 100%);
    background: -o-linear-gradient(left, #e4209c 0%, #6622a2 100%);
    background: -ms-linear-gradient(left, #e4209c 0%, #6622a2 100%);
    background: linear-gradient(to right, #e4209c 0%, #6622a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="$start-color", endColorstr="$end-color",GradientType=1 );
    -webkit-transition: width 350ms ease-out;
    -moz-transition: width 350ms ease-out;
    -ms-transition: width 350ms ease-out;
    -o-transition: width 350ms ease-out;
}
@media (min-width: 1024px) {
    a.big-dot:before {
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }
}
a.big-dot:hover:before {
    width: 100%;
}
a.angle {
    width: 18px;
    overflow: hidden;
    margin-left: 5px;
    padding-left: 0;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
a.angle:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    transform: translate(0, -50%);
}
a.angle .item-detail-text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 20;
    transform: translate(0, -50%);
    white-space: nowrap;
    width: 0;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;
    -webkit-transition: all 150ms ease-in;
    -moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
}
a.angle .fas {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translate(0, -50%);
    z-index: 30;
}
a.angle:hover {
    width: 130px;
    padding-left: 130px;
}
a.angle:hover .item-detail-text {
    width: 130px;
}
a.cta {
    color: #fff;
    display: inline-block;
}
.code-window {
    font-family: "Source Code Pro", monospace;
}
#site-header .navbar-brand img {
    max-height: 64px;
}
@media (min-width: 1024px) {
    #site-header .navbar-brand img {
        max-height: 96px;
    }
}
#site-header .navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
}
#site-header .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}
#site-header .navbar-light .navbar-nav .nav-link.show {
    color: #fff;
}
#site-header .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}
#site-header .navbar-light .navbar-nav .nav-link {
    color: #fff;
}
#site-header .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
}
#site-header .navbar-light .navbar-toggler:focus,
#site-header .navbar-light .navbar-toggler:active {
    outline: none;
}
#site-header .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#site-header .dropdown-menu {
    background-color: #6622a2;
}
#site-header .dropdown-item {
    color: #fff;
}
#site-header .dropdown-item:hover {
    background-color: #e4209c;
}
#site-footer {
    color: #fff;
    padding: 0 0 10px;
}
#site-footer .firm-name,
#site-footer .firm-insta,
#site-footer .firm-github {
    margin-bottom: 10px;
}
#site-footer .firm-name {
    width: 100%;
    line-height: 24px;
}
#site-footer .firm-insta,
#site-footer .firm-github {
    width: 33%;
    float: left;
    font-size: 24px;
    line-height: 24px;
}
#site-footer .firm-insta {
    margin-left: 16.5%;
}
@media (min-width: 1024px) {
    #site-footer .firm-name,
    #site-footer .firm-insta,
    #site-footer .firm-github {
        width: auto;
        display: inline-block;
        padding: 0 10px;
        float: none;
        margin: 0;
    }
}
#site-footer.footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#site-footer .row {
    height: 50px;
}
#site-footer a {
    color: #fff;
}
.card {
    margin-bottom: 15px;
    clear: both;
    position: relative;
    border-radius: 0;
}
.card .card-body {
    padding: 10px 10px 30px 20px;
    color: #484040;
}
.card a {
    color: #e4209c;
}
.card span.card-icon {
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 11px;
    display: block;
    position: absolute;
    top: 10px;
    left: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    color: #fff;
}
.card.bg-info {
    background-color: rgba(23, 162, 184, 0.4) !important;
    border-left: solid 3px #17a2b8;
}
.card.bg-info .card-icon {
    background-color: #17a2b8;
}
.card.bg-danger {
    background-color: rgba(220, 53, 69, 0.4) !important;
    border-left: solid 3px #dc3545;
}
.card.bg-danger .card-icon {
    background-color: #dc3545;
}
.card.bg-warning {
    background-color: rgba(255, 193, 7, 0.4) !important;
    border-left: solid 3px #ffc107;
}
.card.bg-warning .card-icon {
    background-color: #ffc107;
}
.card.bg-success {
    background-color: rgba(40, 167, 69, 0.4) !important;
    border-left: solid 3px #28a745;
}
.card.bg-success .card-icon {
    background-color: #28a745;
}
table.hljs-ln .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-right: 5px;
}
table.hljs-ln .hljs-ln-code {
    padding-left: 10px;
}
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
    border-top-color: #e4209c;
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-right-color: #e4209c;
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #e4209c;
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-left-color: #e4209c;
}
.tooltip-inner {
    background-color: #e4209c;
}
.code-view .hljs {
    background-color: rgba(241, 240, 248, 0.8);
}
.code-view .hljs-keyword {
    color: #c354a8;
}
.code-view .hljs-function .hljs-keyword {
    color: #4b4171;
}
.code-view .hljs-title {
    color: #4b4171;
}
.code-view .hljs-variable {
    color: #2b21e0;
}
.code-view .hljs-attribute,
.code-view .hljs-doctag,
.code-view .hljs-keyword,
.code-view .hljs-meta-keyword,
.code-view .hljs-name,
.code-view .hljs-selector-tag,
.code-view .hljs-title {
    font-weight: 400;
}
#supported {
    clear: both;
}
.seperator {
    margin: 40px auto;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0)
    );
}
.github-button {
    font-family: "Poppins", sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath style='fill: %23fff' d='M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    text-indent: -5000px;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}
.github-button:hover,
.github-button:active {
    color: #fff;
}
.juniper-head {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
        monospace;
    background-color: #e4209c;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 4px 6px;
    padding-bottom: 0;
    padding-left: 8px;
}
.juniper-head h3 {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    font-family: Poppins, sans-serif !important;
}
@media (max-width: 1023px) {
    .juniper-head h3 {
        font-size: 10px;
        text-shadow: none;
    }
}
@media (min-width: 1024px) {
    .juniper-head h3 {
        font-size: 12px;
    }
}
.juniper-head .heading {
    float: left;
}
.juniper-head .version {
    border-left: 1px solid #fff;
    float: right;
    padding-left: 90px;
}
@media (max-width: 991px) {
    .juniper-head .version {
        padding-left: 20px;
    }
}
@media (max-width: 767px) {
    .juniper-head .version {
        padding-left: 60px;
    }
}
.juniper-head:after {
    display: block;
    content: "";
    clear: both;
}
.juniper-head + .juniper-cell {
    font-size: 12px;
    line-height: 1.1;
}
.juniper-head + .juniper-cell .CodeMirror {
    padding: 10px;
}
@media (max-width: 767px) {
    .juniper-head + .juniper-cell .CodeMirror {
        padding-top: 40px;
    }
}
.juniper-head + .juniper-cell .CodeMirror-scroll {
    max-height: 400px;
}
@media (max-width: 767px) {
    .juniper-head + .juniper-cell .CodeMirror-scroll {
        min-height: 1px;
    }
}
.juniper-head + .juniper-cell .juniper-output {
    display: none;
    padding: 15px;
    max-height: 470px;
    overflow: auto;
}
.juniper-head + .juniper-cell .juniper-output pre {
    color: #fff;
}
@media (max-width: 767px) {
    .juniper-head + .juniper-cell .CodeMirror {
        padding-top: 0;
        padding-bottom: 40px;
    }
}
.cm-s-3024-day * {
    color: #4b4171;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
        "Courier New", monospace;
}
.cm-s-3024-day .juniper-button {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #6622a2;
    border-radius: 4px;
    z-index: 80;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    bottom: 5px;
    top: inherit;
    right: 5px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
}
@media (max-width: 767px) {
    .cm-s-3024-day .juniper-button {
        left: 5px;
        width: calc(100% - 10px);
        text-align: center;
    }
}
.cm-s-3024-day .juniper-button:hover,
.cm-s-3024-day .juniper-button:active,
.cm-s-3024-day .juniper-button:focus {
    background-color: #e4209c;
    outline: none;
}
.cm-s-3024-day .juniper-button .play-button {
    font-family: "Font Awesome 5 Free";
}
.cm-s-3024-day .juniper-button .play-button:before {
    color: #fff;
    margin-left: 5px;
}
.cm-s-3024-day .cm-keyword {
    color: #8b1eee;
}
.cm-s-3024-day .cm-number {
    color: #800;
}
.floatButton {
    position: fixed;
    right: 15px;
    bottom: -35px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 400 400' style='enable-background:new 0 0 400 400;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:url(%23SVGID_1_);stroke:url(%23SVGID_2_);stroke-width:3;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg%3E%3Cimage style='overflow:visible;opacity:0.7;enable-background:new ;' width='396' height='335' xlink:href='5A310456771EE53D.png' transform='matrix(1 0 0 1 9 40)'%3E%3C/image%3E%3Cg%3E%3Cg%3E%3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='177.1294' y1='306.8774' x2='535.9919' y2='-314.6907' gradientTransform='matrix(0.5444 -2.144633e-03 2.144633e-03 -0.5072 7.3149 193.6202)'%3E%3Cstop offset='0.2717' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='1' style='stop-color:%23E1E1E1'/%3E%3C/linearGradient%3E%3ClinearGradient id='SVGID_2_' gradientUnits='userSpaceOnUse' x1='19.6832' y1='-15.4165' x2='687.9404' y2='-15.4165' gradientTransform='matrix(0.5444 -2.144633e-03 2.144633e-03 -0.5072 7.3149 193.6202)'%3E%3Cstop offset='0.5669' style='stop-color:%23FFFFFF'/%3E%3Cstop offset='1' style='stop-color:%23EDEDED'/%3E%3C/linearGradient%3E%3Cpath class='st0' d='M57.9,67.2c-47.5,6.1-38.2,51-37.6,70.4C20.9,157,15.4,293.4,40.1,323c44.7,53.6,186.1-16.2,207.1-7.2 s54.9,34.3,54.9,34.3s6.7-39.2,26.9-40.8c20.2-1.6,37.4,3.7,48.8-35.6c11-38.2-11.6-185.7-13.6-197.5s-2.5-30.6-51.8-25.7 C263.1,55.5,92.6,62.8,57.9,67.2z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    text-align: center;
    padding: 6px;
    line-height: 1;
    width: 88px;
    height: 88px;
    z-index: 100;
    -webkit-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    font-display: block;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    text-shadow: #aaa 0px 1px 1px;
}
@-moz-document url-prefix() {
    .floatButton {
        text-shadow: none !important;
    }
}
.floatButton a {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    -webkit-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all 700ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.floatButton strong {
    color: #6622a2;
    font-weight: 600;
    line-height: 1;
}
.floatButton span {
    color: #e4209c;
    display: block;
    clear: both;
    line-height: 1;
    font-weight: 500;
}
.floatButton.clicked {
    bottom: -67px;
}
.floatButton.clicked:hover {
    bottom: 0;
}
.floatButton.clicked:hover a {
    height: 100%;
}
pre.code-view {
    position: relative;
    cursor: pointer;
}
pre.code-view .message {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 50;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(102, 34, 162, 0.7);
    pointer-events: none;
}
pre code {
    border-radius: 4px;
} /*# sourceMappingURL=site.css.map */
